body{
    font-family:Arial;
}
.todo-grid, .todo-input-grid{
    display:grid;
    grid-template-columns: 200px 150px 100px;
    column-gap:10px;
    row-gap:10px;
    align-items:center;
}
.todo-input-grid{
    margin-bottom:10px;
    align-items:stretch;
}
.name-input,.due-date-input,.add-todo-button{
    padding:8px;
    font-size:15px;
}
.add-todo-button{
    background-color:rgb(25, 125, 25);
    color:white;
    cursor:pointer;
    border:none;
}
.delete-button{
    background-color:rgb(136, 32, 32);
    color:white;
    cursor:pointer;
    border:none;
    padding:10px;
    font-size:15px;
}